rules_version = '2';

// just copied this from the tutorial lol
service cloud.firestore {
  
  match /databases/{database}/documents {
    
  // matching the user and message ID
    match /users/{userId}/messages/{messageId} {
      allow create, read, update, delete: if request.auth.uid == userId;
    }
  }
}